<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- com.mapper.StudentMapper为接口类 -->
<mapper namespace="com.mapper.IFoodMapper">

<!--	<select id="findAll"  resultType="com.po.Food" >
		select * from foodinfo ORDER BY f_id
	</select>-->
	<select id="findPageAll" resultType="com.po.Food" parameterType="com.po.PageBean">
		select * from foodinfo ORDER BY f_id limit #{page},#{rows}
    </select>
	<select id="findMaxrows" resultType="int">
		select count(*) from foodinfo
    </select>

	<insert id="add" parameterType="com.po.Food">
		insert into foodinfo(f_city,f_shopname,f_special,f_address) values(#{f_city},#{f_shopname},#{f_special},#{f_address})
	</insert>
	<update id="update" parameterType="com.po.Food">
		update foodinfo set f_city=#{f_city},f_shopname=#{f_shopname},f_special=#{f_special},f_address=#{f_address},f_like=#{f_like} where f_id=#{f_id}
	</update>
	<delete id="delById" parameterType="java.lang.String">
		delete from foodinfo where f_id=#{f_id}
	</delete>

	<select id="findById" parameterType="java.lang.String" resultType="com.po.Food">
		select * from foodinfo where f_id=#{f_id}
	</select>

</mapper>